
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple light theme tokens */
:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 antialiased;
}
